In [1]:
import great_expectations as ge
import pandas as pd
import json
from flatten_json import flatten

In [2]:
input_file = "data/yelp_academic_dataset_business.json"
output_file = "data/yelp_academic_dataset_business_clean.json"

In [4]:
with open(input_file, "r", encoding="utf-8") as in_file, \
    open(output_file, "w") as out_file:
    
    # Start with a square bracket
    out_file.write('[')

    # Read each line from raw input JSON file,
    # flatten the dictionaries
    # and write it to output file with comma and newline
    for line in in_file.readlines()[:-1]:
        flat_json = flatten(json.loads(line))
        out_file.write(json.dumps(flat_json) + ',\n')
    
    # Go back to the start of the input file
    in_file.seek(0)
    
    # Write the last dictionary into the output file
    flat_json = flatten(json.loads(in_file.readlines()[-1]))
    out_file.write(json.dumps(flat_json))
    
    # Close with a square bracket 
    out_file.write(']')

In [6]:
df = ge.read_json("data/yelp_academic_dataset_business_clean.json")

In [7]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,attributes_BYOB,attributes_CoatCheck,attributes_Smoking,attributes_DriveThru,attributes_BYOBCorkage,attributes_Corkage,attributes_RestaurantsCounterService,attributes_AgesAllowed,attributes_DietaryRestrictions,attributes_Open24Hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN