In [148]:
import great_expectations as ge
from pandas import json_normalize
import json
import pandas as pd
import flat_table

df = ge.read_json(
    "data/yelp_academic_dataset_business.json",
    lines=True
)

In [151]:
df2 = flat_table.normalize(df)

In [155]:
json_normalize(df["hours"]).shape

(10, 7)

In [152]:
df2.shape

(10, 45)

In [157]:
df3 = flat_table.normalize(df2)

In [160]:
df3.columns

Index(['level_0', 'index', 'business_id', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars', 'review_count',
       'is_open', 'categories', 'attributes.AcceptsInsurance',
       'attributes.ByAppointmentOnly', 'attributes.GoodForKids',
       'attributes.RestaurantsDelivery', 'attributes.RestaurantsAttire',
       'attributes.NoiseLevel', 'attributes.RestaurantsTakeOut',
       'attributes.DogsAllowed', 'attributes.GoodForMeal',
       'attributes.Alcohol', 'attributes.HasTV', 'attributes.Ambience',
       'attributes.RestaurantsPriceRange2',
       'attributes.BusinessAcceptsBitcoin', 'attributes.HappyHour',
       'attributes.RestaurantsGoodForGroups', 'attributes.OutdoorSeating',
       'attributes.Caters', 'attributes.WheelchairAccessible',
       'attributes.RestaurantsReservations',
       'attributes.BusinessAcceptsCreditCards', 'attributes.BusinessParking',
       'attributes.BikeParking', 'attributes.WiFi',
       'attributes.RestaurantsTableService', 'hours.Sunday', 'hours.Saturday',
       'hours.Friday', 'hours.Thursday', 'hours.Wednesday', 'hours.Tuesday',
       'hours.Monday'],
      dtype='object')

In [146]:
df3.iloc[:,35:]

,attributes.BusinessParking,attributes.BikeParking,attributes.WiFi,attributes.RestaurantsTableService,hours.Sunday,hours.Saturday,hours.Friday,hours.Thursday,hours.Wednesday,hours.Tuesday,hours.Monday
0,"{'garage': False, 'street': True, 'validated':...",True,u'free',True,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0,11:0-23:0
1,"{'garage': True, 'street': False, 'validated':...",False,u'free',NaN,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-18:0,5:0-17:0,5:0-18:0
2,"{'garage': False, 'street': True, 'validated':...",False,NaN,NaN,11:0-18:0,11:0-18:0,11:0-18:0,11:0-18:0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'garage': False, 'street': False, 'validated'...",NaN,NaN,NaN,NaN,9:0-11:0,16:0-19:0,16:0-19:0,16:0-19:0,16:0-19:0,16:0-19:0
5,"{'garage': False, 'street': True, 'validated':...",True,u'no',NaN,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0,17:0-21:0
6,NaN,NaN,NaN,NaN,NaN,NaN,8:0-17:30,8:0-17:30,8:0-17:30,8:0-17:30,0:0-0:0
7,NaN,NaN,NaN,NaN,8:0-14:0,8:0-14:0,NaN,NaN,NaN,NaN,NaN
8,"{'garage': False, 'street': False, 'validated'...",True,NaN,NaN,NaN,NaN,12:15-17:0,12:15-17:0,12:15-17:0,12:15-17:0,12:15-17:0
9,"{'garage': False, 'street': False, 'validated'...",NaN,NaN,NaN,NaN,9:0-16:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-19:0,9:0-17:0

In [117]:
json_normalize(df['attributes'], max_level=2)

AttributeError: 'NoneType' object has no attribute 'items'

In [66]:
json_file = "data/yelp_academic_dataset_business.json"

In [105]:
with open(json_file, "r") as f:
    data = json.load(f)

In [ ]:
json_normalize

In [111]:
json_normalize(data['attr', max_level=10, errors='ignore').iloc[:,10:25]

,is_open,categories,attributes.RestaurantsTableService,attributes.WiFi,attributes.BikeParking,attributes.BusinessParking,attributes.BusinessAcceptsCreditCards,attributes.RestaurantsReservations,attributes.WheelchairAccessible,attributes.Caters,attributes.OutdoorSeating,attributes.RestaurantsGoodForGroups,attributes.HappyHour,attributes.BusinessAcceptsBitcoin,attributes.RestaurantsPriceRange2
0,1,"Gastropubs, Food, Beer Gardens, Restaurants, B...",True,u'free',True,"{'garage': False, 'street': True, 'validated':...",True,False,True,True,True,True,True,False,2
1,1,"Salad, Soup, Sandwiches, Delis, Restaurants, C...",NaN,u'free',False,"{'garage': True, 'street': False, 'validated':...",True,False,NaN,True,False,False,NaN,NaN,2
2,1,"Antiques, Fashion, Used, Vintage & Consignment...",NaN,NaN,False,"{'garage': False, 'street': True, 'validated':...",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,1,"Beauty & Spas, Hair Salons",NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1,"Gyms, Active Life, Interval Training Gyms, Fit...",NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,"Restaurants, Thai",NaN,u'no',True,"{'garage': False, 'street': True, 'validated':...",NaN,True,NaN,False,False,True,NaN,NaN,2
6,1,"Dentists, Health & Medical, Orthodontists",NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,"Breakfast & Brunch, Restaurants",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,"Shopping, Jewelry Repair, Appraisal Services, ...",NaN,NaN,True,"{'garage': False, 'street': False, 'validated'...",True,NaN,True,NaN,NaN,NaN,NaN,False,1
9,0,"Barbers, Beauty & Spas",NaN,NaN,NaN,"{'garage': False, 'street': False, 'validated'...",False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [92]:
df.iloc[:,15:25]

,attributes.BusinessParking,attributes.BusinessAcceptsCreditCards,attributes.RestaurantsReservations,attributes.WheelchairAccessible,attributes.Caters,attributes.OutdoorSeating,attributes.RestaurantsGoodForGroups,attributes.HappyHour,attributes.BusinessAcceptsBitcoin,attributes.RestaurantsPriceRange2
0,"{'garage': False, 'street': True, 'validated':...",True,False,True,True,True,True,True,False,2
1,"{'garage': True, 'street': False, 'validated':...",True,False,NaN,True,False,False,NaN,NaN,2
2,"{'garage': False, 'street': True, 'validated':...",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,"{'garage': False, 'street': False, 'validated'...",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"{'garage': False, 'street': True, 'validated':...",NaN,True,NaN,False,False,True,NaN,NaN,2
6,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"{'garage': False, 'street': False, 'validated'...",True,NaN,True,NaN,NaN,NaN,NaN,False,1
9,"{'garage': False, 'street': False, 'validated'...",False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3

In [168]:
df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
2,bvN78flM8NLprQ1a1y5dRg,The Reclaimory,4720 Hawthorne Ave,Portland,OR,97214,45.511907,-122.613693,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Antiques, Fashion, Used, Vintage & Consignment...","{'Thursday': '11:0-18:0', 'Friday': '11:0-18:0..."
3,oaepsyvc0J17qwi8cfrOWg,Great Clips,2566 Enterprise Rd,Orange City,FL,32763,28.914482,-81.295979,3.0,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Beauty & Spas, Hair Salons",None
4,PE9uqAjdw0E4-8mjGl3wVA,Crossfit Terminus,1046 Memorial Dr SE,Atlanta,GA,30316,33.747027,-84.353424,4.0,14,1,"{'GoodForKids': 'False', 'BusinessParking': '{...","Gyms, Active Life, Interval Training Gyms, Fit...","{'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'..."
5,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,1,"{'GoodForKids': 'True', 'Alcohol': 'u'none'', ...","Restaurants, Thai","{'Monday': '17:0-21:0', 'Tuesday': '17:0-21:0'..."
6,t35jsh9YnMtttm69UCp7gw,Escott Orthodontics,2511 Edgewater Dr,Orlando,FL,32804,28.573998,-81.389284,4.5,7,1,"{'AcceptsInsurance': 'True', 'BusinessAcceptsC...","Dentists, Health & Medical, Orthodontists","{'Monday': '0:0-0:0', 'Tuesday': '8:0-17:30', ..."
7,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,1,None,"Breakfast & Brunch, Restaurants","{'Saturday': '8:0-14:0', 'Sunday': '8:0-14:0'}"
8,N3_Gs3DnX4k9SgpwJxdEfw,Lane Wells Jewelry Repair,"7801 N Lamar Blvd, Ste A140",Austin,TX,78752,30.346169,-97.711458,5.0,30,1,"{'RestaurantsPriceRange2': '1', 'ByAppointment...","Shopping, Jewelry Repair, Appraisal Services, ...","{'Monday': '12:15-17:0', 'Tuesday': '12:15-17:..."
9,tXvdYGvlEceDljN8gt2_3Q,Capital City Barber Shop,"615 W Slaughter Ln, Ste 113",Austin,TX,78748,30.172706,-97.799920,4.0,5,0,"{'BusinessAcceptsCreditCards': 'False', 'Resta...","Barbers, Beauty & Spas","{'Monday': '9:0-17:0', 'Tuesday': '9:0-19:0', ..."